* {
    box-sizing: border-box;
}

html {
    font-family: Arial;
}

.title {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.todo-list {
    margin: 32px auto 0 auto;
    padding: 8px;
    background-color: coral;
    max-width: 600px;
    border-radius: 8px;
}

.actions {
    display: flex;
}

.task-input {
    height: 32px;
    margin-right: 16px;
    flex-grow: 1;
    border: 3px solid #ccc;
    border-radius: 8px;
}

.btn {
    min-width: 64px;
    height: 32px;
    border: 3px solid #ccc;
    border-radius: 8px;
}

.create-task-btn {
    margin-left: auto;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        margin-top: 8px;
    }
}

.list-item {
    display: flex;
    align-items: center;
    padding: 8px;
    height: 40px;
    background-color: wheat;
    border-radius: 8px;

    &_selected {
        opacity: 0.7;

        & span{
            text-decoration: line-through;
        }
    }

    &__checkbox {
        margin-right: 8px;
    }

    &__delete-btn {
        border: none;
        background: none;
        margin-left: auto;

        &::before {
            content: '+';
            display: block;
            transform: rotate(45deg);
        }
    }

}
