// Font-size
$main-font-size: 16px;

// Indentions
$indention: 4px;

// Borders
$input-border: 1px solid #808080;
$invalid-input-border: 3px solid #ff0000;

// Border-radius
$main-border-radius: 4px;

// Backgrounds
$main-background: bisque;
$form-background: aqua;
$button-background: #ff7f50;